/* src/components/MovieList.css */

.movie-list-container {
  padding: 10px;
}

.movie-list-loading {
  text-align: center;
  font-size: 1.2rem;
  padding: 40px;
  color: #555;
  font-style: italic;
}

/**
 * Contenedor para la lista de tarjetas.
 * Usa Flexbox para que las tarjetas se envuelvan
 * y se muestren en varias columnas.
 */
.movie-cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las tarjetas */
}